<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>名字</th>
        <th>年龄</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0;i < users.length;i++){
        var user = users[i]; %>
    <tr>
        <td><%= user.id %></td>
        <td><%= user.user %></td>
        <td><%= user.age %></td>
    </tr>
    <% } %>
    </tbody>
</table>

</body>
</html>