<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<% if(file.mimetype == "image/jpeg" || file.mimetype == "image/png"){ %>
<img src="<%= file.url %>">
<% }else if(file.mimetype == "audio/mp3"){ %>
<audio src="<%= file.url %>" controls="controls"></audio>
<% }else if(file.mimetype == "video/mp4"){ %>
<video src="<%= file.url %>" controls="controls"></video>
<% } %>

</body>
</html>